.paid{
    max-width: 100%;
    max-height: 300px;
    color:white;
    background: linear-gradient(45deg, #02866a, #66ce93);
}

.debt{
    max-width: 100%;
    max-height: 300px;
    color:white;
    background: linear-gradient(45deg, #810c0c,#df6f6f );
}
.subtitle{
    color:white;
    opacity: .6;
    font-weight: 100;
  
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  td, th {
    width: 25%;
  }

  .delete,.update{
      transform: scale(0);
      opacity: 0;
      transition: transform .3s ease-in-out,
      opacity .3s ease-in-out
      ;
  }

  tr{
    transition: background-color .3s ease-out;
  }
  tr:hover{
      background-color: lighten($color: #673AB7, $amount: 45);

      .delete,.update{
        transform: scale(1);
        opacity: 1;
    }
  }

  .tablo{
      width: 300px;
  }