<mat-toolbar color="primary">
<mat-toolbar-row> 
  <button color="accent" mat-mini-fab [matMenuTriggerFor]="menu">
    <mat-icon color="primary">widgets</mat-icon>
  </button>  
  <span class="example-icon"></span>
  <span>menuTitle</span>
  <span class="example-spacer"></span>
  
  <mat-icon class="example-icon mr-1" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
  <mat-icon class="example-icon mr-5" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  <h2>Bakkal-App</h2>
  <!--menu-->
  <mat-menu #menu="matMenu">
    <button routerLink="/customers" mat-menu-item>
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Müşteriler</span>
    </button>
     <button routerLink="/income-expenses" mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Gelir / Gider</span>
    </button>      
    <button mat-menu-item>
      <mat-icon>analytics</mat-icon>
      <span>Dashboard</span>
    </button>
  </mat-menu>
    <!--menu-->
   
  </mat-toolbar-row>    
</mat-toolbar>