<mat-toolbar color="primary">
<mat-toolbar-row> 
  <button *ngIf="isLoggedIn" color="accent" mat-mini-fab [matMenuTriggerFor]="menu">
    <mat-icon color="primary">widgets</mat-icon>
  </button>
  <button *ngIf="!isLoggedIn" mat-mini-fab><mat-icon>vpn_key</mat-icon></button>  
  <span class="example-icon"></span>
  <span>{{menuTitle}}</span>
  <span class="example-spacer"></span>
  
  <button (click)="login()" *ngIf="!isLoggedIn" class="mx-3" mat-raised-button color ="accent"><mat-icon>login</mat-icon> Giriş</button>
  <button (click)="register()" *ngIf="!isLoggedIn" [routerLink]="[ '/login' ]" class="mx-3" mat-raised-button color ="accent"><mat-icon>person_add</mat-icon> Kayıt Ol</button>
  
  
  <div *ngIf="isLoggedIn" class="mx-4">
    <span>{{userEmail}} </span>
    <button class="ml-3" (click)="signOut()" mat-raised-button color="accent">Çıkış</button>
  </div>
  <h2>Bakkal-App</h2>
  <!--menu-->
  <mat-menu  #menu="matMenu">
    <button routerLink="/customers" mat-menu-item>
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Müşteriler</span>
    </button>
     <button routerLink="/income-expenses" mat-menu-item>
      <mat-icon>shopping_cart</mat-icon>
      <span>Gelir / Gider</span>
    </button>      
    <button mat-menu-item>
      <mat-icon>analytics</mat-icon>
      <span>Dashboard</span>
    </button>
  </mat-menu>
    <!--menu-->
   
  </mat-toolbar-row>    
</mat-toolbar>