<header></header>
<div class="row mx-auto">
  <mat-card class="col-5 m-3">
    <mat-card-header>
      <mat-card-title
        ><h3>{{ category }} </h3></mat-card-title
      >
    </mat-card-header>
    <img mat-card-image src="" alt="" />
    <hr />
    <mat-card-content class="d-flex">
      <div class="col-6">
        <mat-card class="paid">
          <mat-card-header>
            <mat-card-title class="">Ödenenler</mat-card-title>
          </mat-card-header>
          <hr class="mt-0" />
          <mat-card-content>
            <mat-card-title-group>
              <mat-card-title
                ><h2>TL</h2></mat-card-title
              >
              <mat-card-subtitle class="subtitle"
                ><span>Son Ödeme</span><br />
                </mat-card-subtitle
              >
            </mat-card-title-group>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-6">
        <mat-card class="debt">
          <mat-card-header>
            <mat-card-title class="">Borçlar</mat-card-title>
          </mat-card-header>
          <hr class="mt-0" />
          <mat-card-content>
            <mat-card-title-group>
              <mat-card-title
                ><h2> TL</h2></mat-card-title
              >
              <mat-card-subtitle class="subtitle"
                ><span>Son Veresiye</span><br />
                
              </mat-card-subtitle>
            </mat-card-title-group>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="col-6">
    <mat-card class="m-3">
      <mat-card-header>
        <mat-card-title class="tablo">
          <mat-form-field>
            <mat-label>Tablolar</mat-label>
            <h5>
              <mat-select>
                <mat-option
                  *ngFor="let table of tables"
                  (click)="selectClick(table)"
                  [value]="table"                  
                >
                  {{table}}
                </mat-option>
              </mat-select>
            </h5>
          </mat-form-field>
          <button *ngIf="toggle" (click)="openIncomeDialog()" mat-icon-button color="primary"><mat-icon>add</mat-icon></button>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container >
          <ng-container >
            <div class="">
              <mat-form-field>
                <input
                  matInput
                  (keyup)="applyFilter($event.target.value)"
                  placeholder="Filter"
                />
              </mat-form-field>

              
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
                <!-- ID Column
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container> -->

                <!-- Progress Column -->
                <ng-container matColumnDef="gider">
                  <th mat-header-cell                  
                  *matHeaderCellDef mat-sort-header>
                    {{category=='Ciro'? 'Ciro' : 'Harcama'}}
                  </th>
                  <td mat-cell *matCellDef="let row">{{row.income}} TL</td>
                </ng-container>

                <!-- Color Column -->
                <ng-container matColumnDef="tarih">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Tarih
                  </th>
                  <td mat-cell *matCellDef="let row">
                    {{row.date.toDate() | date:'fullDate':tr}}
                  </td>
                </ng-container>

                <!-- İşlemler Column -->
                <ng-container matColumnDef="işlemler">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    İşlemler
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <button
                      (click)="deleteDebt(row)"
                      class="delete"
                      mat-icon-button
                      color="warn"
                    >
                      <mat-icon
                        aria-label="Example icon-button with a heart icon"
                        >delete</mat-icon
                      >
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 25, 100]"
              ></mat-paginator>
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <paid-table [id]="id"></paid-table>
          </ng-template>
        </ng-container>
        <ng-template #elseTemplate>
          <p>Tablo Seçiniz.</p>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
